<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{query}} - Youtube Music Search</title>
        <style>
            li {
                display: flex;
                align-items: center;
            }
            li > div {
                display: flex;
                flex-flow: column;
                cursor: pointer;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <ul>
            <div>
                <input type="text" id="search">
                <button onclick="search()">Search</button>
            </div>
            <br>
            <div id="curr_play" hidden></div>
            <audio id="player" controls loop hidden></audio>
            <br><br>
            {{#each results}}
                <li>
                    <img src="{{this.thumbnails.default.url}}">
                    <div onclick="play('{{this.link}}', '{{this.title}}')">
                        {{this.title}}
                    </div>
                </li>
            {{/each}}
        </ul>
    </body>
    <script>
        const input = document.getElementById('search');
        const search = () => {
            const query = input.value;
            console.log(query);
            window.location = window.location.origin + '/?q=' + encodeURIComponent(query);
        }
        input.addEventListener('keyup', (event) => {
            if (event.keyCode === 13) {
                event.preventDefault();
                search();
            }
        });
        const player = document.getElementById('player');
        const curr_play =document.getElementById('curr_play');
        const play = (url, title) => {
            player.src = url;
            player.play();
            player.removeAttribute('hidden');
            curr_play.removeAttribute('hidden');
            curr_play.innerHTML = "<b>Currently playing:</b> " + title;
        }
    </script>
</html>
